.board-body{
    min-height: 80vh;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    h1 {
        margin: 5vh 15vw 3vh 0; 
        text-align: right;
        font-weight: 200;
        font-size: 2.7em;
    }
    a {
        text-decoration: none;
        color: rgb(103, 103, 103);
    }
}
.post-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 20vh;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    h2 {
        font-size: 1.6em;
        margin: 1%;
      
    }
    span {   //date and place
        display: flex;
        gap: 2%;
        margin: 0 0 1% 2%;
        font-size: .9rem;
    }
}

.post-main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
   
    .main-photo{
        float: none;
        max-height: 35vh;
        max-width: 90%;
        object-fit: contain;
        
    }
}


.post-main-content{
    margin: auto auto 1% 0%;
    text-align: justify;
}
.post-main-content2 {
    margin: 1% auto;
    text-align: justify;
}
.swiper-container{
    margin: 3% auto;
}
.board-photo{
    max-height: 35vh;
    object-fit: contain;
    margin: 3% 0;
}
.board-player{
    margin: 3% auto;
    width: 95%;
    max-width: 600px;
}

hr {
    color: black;
    border-top: 1px solid black;
    width: 50%;
    max-width: 600px;
    margin: 2% auto 6% auto;
}

@media (min-width: 600px) {
    .post-main-text{
        display: block;
        
    }
    .main-photo {
        float: left !important;
        margin-right: 2%;
       
    }
}