@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap");
nav {
  height: 10vh;
  background-color: black;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1vh;
  gap: 25px;
  font-family: "Rokkitt", serif;
  font-size: 1.4rem;
}
nav img {
  height: 7.4vh;
  aspect-ratio: 1/1;
}

.nav-web:hover {
  color: #FFC85C;
}

.nav-video:hover {
  color: hsl(253, 8%, 80%);
}

.nav-image:hover {
  color: #2C786C;
}

.nav-board:hover::after {
  content: "!";
}

main {
  min-height: 86vh;
}

footer {
  height: 4vh;
  padding: 1%;
  margin-bottom: 0;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.home-body {
  height: 86vh;
  width: 100%;
  position: relative;
  background-color: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  max-width: 75vh;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  z-index: 1;
}
.hello #background-video {
  height: inherit;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -5;
}

.greet {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(240, 100%, 99%, 0.9);
  gap: 4%;
}
.greet .hi {
  width: -moz-fit-content;
  width: fit-content;
}
.greet a {
  font-weight: 600;
  color: darkgray;
}
.greet p {
  margin: 3% 0 1.5% 2%;
  max-width: 30rem;
  line-height: 1.9rem;
}

.greet-icons {
  display: flex;
  align-items: center;
}
.greet-icons svg {
  margin: 0.5%;
}

.social-icons {
  display: flex;
  width: 100%;
  justify-content: center;
}
.social-icons a {
  margin: 0 3%;
  height: 5vh;
  width: -moz-fit-content;
  width: fit-content;
}
.social-icons img {
  height: inherit;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.web-body {
  height: 87vh;
  width: 100%;
  margin: 0 auto;
  padding: 10%;
  text-align: left;
  background-color: #FFC85C;
}
.web-body span {
  display: block;
  margin: 4% 0;
}
.web-body a {
  color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
}
.web-body a:hover {
  text-decoration: line-through;
}
.web-body .web-title {
  display: inline;
  font-size: 1.2rem;
}

.video-body {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: #33313B;
}
.video-body p {
  margin: 0 auto;
  color: ghostwhite;
}
.video-body a {
  color: currentColor;
  font-weight: 600;
}
.video-body a:hover {
  text-decoration: line-through;
}

.gallery-body {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #2C786C;
}
.gallery-body button {
  position: absolute;
  top: 3%;
  padding: 5px 10px;
  background: none;
  border: 1px solid ghostwhite;
  border-radius: 4px;
  font-size: 1.2em;
  margin-bottom: 2%;
  color: ghostwhite;
  font-family: "Rokkitt", serif;
}

.swiper {
  height: 80%;
  display: block;
  width: 90%;
  max-width: 900px;
}

.swiper-wraper {
  height: 100%;
}

.swiper-slide {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slide-photo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 90%;
}

.swiper-button-prev, .swiper-button-next {
  color: hsl(240, 100%, 98%) !important;
}

.board-body {
  min-height: 80vh;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.board-body h1 {
  margin: 5vh 15vw 3vh 0;
  text-align: right;
  font-weight: 200;
  font-size: 2.7em;
}
.board-body a {
  text-decoration: none;
  color: rgb(103, 103, 103);
}

.post-container {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 20vh;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
.post-container h2 {
  font-size: 1.6em;
  margin: 1%;
}
.post-container span {
  display: flex;
  gap: 2%;
  margin: 0 0 1% 2%;
  font-size: 0.9rem;
}

.post-main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-main-text .main-photo {
  float: none;
  max-height: 35vh;
  max-width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto 2% auto;
}

.post-main-content {
  margin: auto auto 1% 0%;
  text-align: justify;
}

.post-main-content2 {
  margin: 1% auto;
  text-align: justify;
}

.swiper-container {
  margin: 3% auto;
}

.board-photo {
  max-height: 35vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 3% 0;
}

.board-player {
  margin: 3% auto;
  width: 95%;
  max-width: 600px;
}

hr {
  color: black;
  border-top: 1px solid black;
  width: 50%;
  max-width: 600px;
  margin: 2% auto 6% auto;
}

@media (min-width: 600px) {
  .post-main-text {
    display: block;
  }
  .main-photo {
    float: left !important;
    margin: 0 2% 0 0 !important;
    max-width: 50% !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

.body {
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}/*# sourceMappingURL=App.css.map */